<div id="page">
  <div style="margin: 10px 0 10px 20%; float: left;">
    <a href="/<%= title %>"><%= title %></a> &gt;
    <%= chapter %>  &gt;
    Page <%= page %>
  </div>

  <div style="margin: 10px 20% 10px 0; float: right;">
    <a href="<%= prev_img %>">&lt; Prev</a>
    &nbsp; | &nbsp;
    <a href="<%= next_img %>">Next &gt;</a>
  </div>

  <a href="<%= next_img %>"><%= image_tag image %></a>

</div>


<style>

body {
  margin: 0;
  padding: 0;
}

#page {
  background-color: #333333;
  color: #c3c3c3;
  font-size: 20px;
  text-align: center;
  padding: 6px 0 10px;
}

#page a {
  color: #c3c3c3;
  text-decoration: none;
}

</style>

<script>

document.onkeydown = function(e) {
  var keycode = e.which || e.keyCode;

  if (keycode == 39) {
    window.location = '<%= next_img %>';
  } else if (keycode == 37) {
    window.location = '<%= prev_img %>';
  }
}

</script>
